# (c) Nombre del flujo de trabajo
name: Integración y entrega continua

# (d) Evento de disparo: push
# (e) Rama: main
on:
  push:
    branches:
      - main

jobs:
  # (f) Cantidad de jobs: 1
  integracion:
    runs-on: ubuntu-latest     # sistema operativo Linux

    steps:

      # ------------------------------
      # h) PRIMER STEP – PRESENTACIÓN
      # ------------------------------

      # g) Declarar variables de entorno (nombres, apellidos, edad)
      - name: Definir variables de entorno
        run: |
          echo "nombres=Jhan Carlos" >> $GITHUB_ENV
          echo "apellidos=Yangali Huamán" >> $GITHUB_ENV
          echo "edad=20" >> $GITHUB_ENV

      - name: Presentación
        run: |
          echo "Nombre: ${{ env.nombres }}"
          echo "Apellido: ${{ env.apellidos }}"
          echo "Edad: ${{ env.edad }}"

      # ------------------------------
      # i) SEGUNDO STEP – DATOS GENERALES
      # ------------------------------
      - name: Datos Generales
        run: |
          echo "Carrera: Ingeniería de Sistemas"

      # ------------------------------
      # j) Declarar variables secretas
      # (Debes crearlas en Settings > Secrets)
      # j.1) user
      # j.2) password
      # ------------------------------

      # k) TERCER STEP – VARIABLES SECRETAS
      - name: Variables de entorno secretas
        run: |
          echo "user: ******"     # sólo mostrará **** por seguridad
          echo "password: ******"
          echo "Valor real user: ${{ secrets.USER }}"
          echo "Valor real password: ${{ secrets.PASSWORD }}"

      # ------------------------------
      # l) Variable abierta: version = 3.0
      # ------------------------------
      - name: Definir variable de versión
        run: |
          echo "version=3.0" >> $GITHUB_ENV

      # ------------------------------
      # ll) CUARTO STEP – VARIABLES ABIERTAS
      # ------------------------------
      - name: Variables abiertas
        run: |
          echo "Versión de mi proyecto: ${{ env.version }}"
