name: Integración y entrega continua

on:
  push:
    branches:
      - main   # El flujo se ejecutará cuando se haga un push a la rama 'main'

jobs:
  integracion:
    runs-on: ubuntu-latest   # El flujo se ejecutará en un sistema operativo Linux (Ubuntu)

    steps:
      # Paso 1: Checkout del código
      - name: Checkout del código
        uses: actions/checkout@v2   # Esto descarga el código del repositorio

      # Paso 2: Declarar y definir las variables de entorno
      - name: Definir variables de entorno
        run: |
          echo "nombres=Jhan Carlos" >> $GITHUB_ENV
          echo "apellidos=Yangali Huaman" >> $GITHUB_ENV
          echo "edad=20" >> $GITHUB_ENV

      # Paso 3: Presentación
      - name: Presentación
        run: |
          echo "Nombre: ${{ env.nombres }}"
          echo "Apellido: ${{ env.apellidos }}"
          echo "Edad: ${{ env.edad }}"

      # Paso 4: Datos Generales
      - name: Datos Generales
        run: |
          echo "Carrera: Ingeniería de Sistemas"

      # Paso 5: Declarar y definir las variables de entorno secretas
      - name: Definir variables secretas
        run: |
          echo "user: ${{ secrets.USER }}" >> $GITHUB_ENV
          echo "password: ${{ secrets.PASSWORD }}" >> $GITHUB_ENV

      # Paso 6: Variables Secretas
      - name: Variables Secretas
        run: |
          echo "user: ${{ secrets.USER }}"
          echo "password: ${{ secrets.PASSWORD }}"

      # Paso 7: Crear una variable abierta
      - name: Definir versión del proyecto
        run: |
          echo "version=3.0" >> $GITHUB_ENV

      # Paso 8: Variables Abiertas
      - name: Variables Abiertas
        run: |
          echo "Versión del Proyecto: ${{ env.version }}"
